.title{
    margin-top: 2% ;
    color: rgb(30, 255, 0);
    text-align: center;
    background-color: black
   
  
}
.score{
    text-align: center;
    color: blue;
    
}
.message{
    text-align: center;
    margin-top: 0;
    color: black;
    
}

.info{
    text-align: center;
    margin-top: 0;
    color: black;
    
}

body{
    background-color: white;
}