.title{
    margin-top: 2% ;
    color: rgb(18, 19, 18);
    text-align: center;
    background-color:rgb(95, 255, 47);
    padding-top: 50px;
    padding-bottom: 50px;
   
  
}
.score{
    text-align: center;
    color: blue;
    
}
.message{
    text-align: center;
    margin-top: 0;
    color: black;
    
}

.info{
    text-align: center;
    margin-top: 0;
    color: black;
    
}

body{
    background-color: white;
}