.imgCard {
    /* border-radius: 2px; */
    height: 170px;
    margin: 1rem;
    margin-top: 10px;
    position: relative;
    width: 170px;
    overflow: hidden;
  }
  img{
      height: 100%;
      width: 100%;
      display: block;
  }